/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --primary: #0047FF;
  --secondary: rgba(0, 71, 255, 0.08);
  --green: #2DCD5B;
  --greenLight: rgba(45, 205, 91, 0.08);
  --red: #FF4F64;
  --redLight: rgba(246, 41, 52, 0.08);

  --text-primary: #12133F;
  --text-secondary: #5A5B80;
  --text-tertiary: #807C8D;
  }






body {
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
